.place-image-slider {
   padding-top: 100%;

   .slick-list {
      position: absolute;
      inset: 0;
   }

   .slick-track {
      height: 100%;
   }

   .slick-slide {
      height: 100%;

      div {
         height: 100%;
      }
   }
   img {
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;

      @supports (aspect-ratio: 1/1) {
         aspect-ratio: 1/1;
      }
   }

   .slick-prev, .slick-next {
      z-index: 1;
   }

   .slick-prev {
      left: 1rem;
   }

   .slick-next {
      right: 1.5rem;
   }

   .slick-prev:before, .slick-next:before {
      font-size: 2.5rem;
   }

   .slick-dots {
      bottom: 1rem;

      li {
         width: 1rem;
         margin: 0 2px;

         button:before {
            color: var(--white-color);
         }
      }
   }


}