@import "../../assets/styles/mixins.scss";

.sub-header {
   
   padding-top: 2rem;
   padding-bottom: 2rem;
   border-bottom: 1px solid var(--border-color);
   background-color: var(--white-color);

   &--fixed {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1000;
   }

   &-container {
      @include flex-mixin(center, space-between);
   }

   @include respond(small) {
      padding-top: .5rem;
      padding-bottom: .5rem;

   }
}