
.close-button {
   position: absolute;
   right: 1.5rem;
   top: 50%;
   transform: translateY(-50%);
   width: 2.6rem !important;
   height: 2.6rem !important;
   background-color: rgb(235, 235, 235) !important;

   &:hover {
      filter: brightness(.8);
   }

   > svg {
      stroke: var(--black-color);
      stroke-width: 4px;
      width: 1.2rem;
      height: 1.2rem;
   }
}