@import '../../assets/styles/mixins.scss';

.experience-section {

   &__wrapper {
      max-width: 192rem;
      margin: 0 auto;
   }


   &__container {
      @include grid-mixin(repeat(auto-fit, minmax(32.2rem, 1fr)));
      grid-column-gap: 2.5rem;

      @include respond(big) {
         grid-column-gap: 2rem;
      }

      @include respond(small) {
         grid-row-gap: 2rem;
         grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      }
   }

   .banner-container {
      height: 45vw;
      max-height: 70rem;

      @include respond(small) {
         height: 70vh;
      }
   }
}