@import "../../assets/styles/mixins.scss";

.inspiration-item {
   border-radius: 2rem;
   overflow: hidden;
   margin: 0 1rem;

   &__img {
      display: block !important;
      aspect-ratio: unset !important;
      border-radius: 0 !important;
   }

   &__info {
      color: var(--white-color);
      padding-top: 80%;
      position: relative;
      
      // @include respond(medium) {
         //    height: 20vh;
         // } 
         
         &--wrap {
         padding: 2rem;
         position: absolute;
         inset: 0;
         height: 100%;
      }
   }

   &__location {
      font-size: 3.5rem;
      font-weight: var(--medium-font-weight);
      line-height: 1.3;
      margin-bottom: 1rem;
      white-space: pre-line;

      @include respond(big) {
         font-size: 2.7rem;
      }   
      @include respond(medium) {
         font-size: 2.3rem;
      }  
      @include respond(small) {
         font-size: 2rem;
      }  
   }

   &__distance {
      font-size: 2rem;

      @include respond(medium) {
            font-size: 1.5rem;
      }
   }

}